{% extends "base.twig" %}

{% block title %}
    Ich bin SIrI
{% endblock %}

{% block jumbo %}
    <p>&nbsp;</p>
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="container">SIRI sonde <small>datenrettungsmodul der raumstation c-base</small></h1>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">
            <p>&nbsp;</p>
            <img src="img/50b100f0f202c.jpeg" alt="siri" class="img-thumbnail">
        </div>
        <div class="col-lg-8">
            <h3>fru:he nanosecunden</h3>
            <p>
                die siri sonde wurde während einer veranstaltung zur transmediale (jahr: 1995) von crew-mitgliedern der raumstation c-base durch zufall entdeckt, ausgegraben, zusammengesetzt und reactiviert. es stellte sich heraus, dass es sich um ein automatisches backup-system gehandelt haben muss, welches wa:hrend des absturzes der station abgeschossen wurde.
            </p>

            <h3>function</h3>
            <p>
                wie sich herausstellt functionierte siri als datengrab modul der c-base.
            </p>

            <h3>der crash</h3>
            <p>
                siri wurde vor dem crash zwischen raumstation und erde abgeschossen. wahrscheinlich kam es zu einer ungu:nstigen lage in der absturzphase, so dass das system direct unter die raumstation gelangte und dabei bescha:digt wurde...
            </p>

            <h3>reconstruction</h3>
            <p>
                es liessen sich nur wenige daten und logfiles wieder reconstruieren. es wird gesagt, dass etwa 90% der daten beschädigt wurden.
            </p>
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 60%"></div>
            </div>

            <p>
                seitdem werden die bescha:digten informationen reconstruiert; fortschritt liegt bei ca. 60 - 65%. aussehen und functionen der station basieren auf diesen daten.
            </p>

            <h3>cucunft</h3>
            <p>
                zuku:nftig-historisches wissen.
                <a href="http://logbuch.c-base.org/archives/278">http://logbuch.c-base.org/archives/278</a> und im
                <a href="http://cbag3.c-base.org/artefact/siri-sonde">CBAG3</a>
            </p>

            <h3>trivia</h3>
            <p>
                siri heisst auch die erste tochter des 1. first roc.
            </p>
        </div>
    </div>




{% endblock %}