<h1>Daten als Proviant</h1>
<div>Die siri-sonde braucht Daten. Wenn du Bilder, Töne oder Filme auf dem 30c3 findest, dann bringe eine Kopie zur siri-sonde.</div>

<h1>Daten an Siri übergeben</h1>
<div>Um die siri-sonde mit neuen Daten zu versorgen kann man einen usb stick in die siri-sonde stecken.
Dann werden die Dateien sofort abgesaugt.</div>

<h1>Dumps anschauen</h1>
<div>Die Daten werden in Dumps angelegt diese kann man unter http://151.217.83.24:9000/ betrachten.</div>

<h1>Auszeichnungen</h1>
<div>Jeder Dump kann Auszeichnungen bekommen.</div>

<h1>irgenwas (un)klar</h1>
<div>Komm einfach bei der c-base crew vorbei und frag wenn Dir was unklar ist.</div>



